@slogan-color: #423931;
@thumb-border-color: #e9e3dd;

@btn-book-now-bg: #24678F;
@btn-book-now-text: #7DE1F6;

@btn-book-now-hover-bg: #FFAA29;
@btn-book-now-hover-text: #5D4121;

@carousel-under-header-text: #FFDD4B;

@thumbnail-a-color: #C5A070;

@footer-text: #b4bdc2;/* #d2c9c2; */
@footer-bg: #F0F0F0;