
@slogan-color: #423931;
@text-main-color: #24678F;
@thumb-border-color: #e9e3dd;

@btn-book-now-bg: #FFC83F;
@btn-book-now-text: @text-main-color;

@btn-book-now-hover-bg: #FFAA29;
@btn-book-now-hover-text: #5D4121;

@thumbnail-a-color: #48B648 ;/*#C5A070*/ /* #F89C24; */
@thumbnail-caption-color: #395181;

@link-place-name-color: #FFC83F;
@block-right-border-color: #457A9B;
@box-blue-bg: #235f88;


@light-grey: #c8ccd4;
@grey: #9a9c9f;
@grey-darker: #9b979a;
@deep-grey: #787982;
@deep-brown: #5c595b;
@light-green: #68bfa0;

@price-text: #e55833;
@hotel-room-title: #1f688c;
@icon-check-color: #50c06e;
@btn-reservar-bg:#fc9b40;
@btn-reservar-color:#FFF;
@btn-reservar-border-color: #fed0a7;

@footer-text: #FFF;/* #d2c9c2; */
@footer-bg: #235f88;/*#F0F0F0*/
@footer-border-link-color: #457A9B;