/*#C5A070*/
/* #F89C24; */
/* #d2c9c2; */
/*#F0F0F0*/

@text-main-color: #24678F;

@btn-search-bg: #FFC83F;
@btn-search-text: @dark-blue;

@btn-search-hover-bg: #FFAA29;
@btn-search-text: #5D4121;

@thumbnail-a-color: #88235f; /* #FFC83F; #48B648; */
@thumbnail-caption-color: #395181;
@thumb-border-color: #e9e3dd;

@link-place-name-color: #FFC83F;
@block-right-border-color: #457A9B;
@box-blue-bg: @dark-blue;

@dark-blue: #235f88;
@light-grey: #c8ccd4;
@grey: #9a9c9f;
@grey-darker: #9b979a;
@deep-grey: #787982;
@deep-brown: #5c595b;
@light-green: #68bfa0;

@price-text: #e55833;
@hotel-room-title: @dark-blue;
@icon-check-color: #50c06e;
@btn-reservar-bg:#fc9b40;
@btn-reservar-color:#FFF;
@btn-reservar-border-color: #fed0a7;

@footer-text: #FFF;/* #d2c9c2; */
@footer-bg: @dark-blue;/*#F0F0F0*/
@footer-border-link-color: #457A9B;