footer {
  height: 130px;
  padding-left: 30px;
  padding-top: 30px;
  background-color: @footer-bg;
  color: @footer-text;

  .footer-text-box {
    width: 27%;
    span.welness {
      font-weight: bold;
      color: lighten(@footer-bg, 20%);
    }
    @media (max-width: 768px) {
      width: 100%;

    }
  }



  .footer-nav {
    > li > a {
        border-left: 1px solid darken(@footer-text, 10%);
        padding-left: 5px;

        color: @footer-text;
      }
  }
}