footer {
  font-size: 17px;
  font-weight: 100;
  letter-spacing: 1px;
  height: 130px;
  padding-top: 30px;
  background-color: @footer-bg;
  color: @footer-text;

  span.wellness {
    font-weight: normal;
    color: #000;
  }

  .footer-nav {
    > li > a {
      border-left: 1px solid @footer-border-link-color;
      padding-left: 5px;
      font-size: 13px;

      color: #FFF;
    }
  }

}





