footer {
  font-family: Helvetica, Arial, Verdana, sans-serif;
  font-size: 17px;
  height: 130px;
  padding-top: 30px;
  background-color: @footer-bg;
  color: @footer-text;

  span.wellness {
    font-weight: bold;
    color: #000;
  }

  .footer-nav {
    > li > a {
      border-left: 1px solid darken(@footer-text, 10%);
      padding-left: 5px;
      font-size: 13px;

      color: #000;
    }
  }

}





