/*HOTEL PRESENTATION PAGE BEGIN*/

.navigation {

  background: transparent;
  border: none;

  .navbar-header.logo-container {
    height: 100px;
    padding: 0 15px 0 15px;
  }

  .main-navbar {
    float: right;
  }

  .main-navbar > li > a {
    color: orange;
  }

  .btn-toggle {
    color: orange;
  }

  .btn-toggle .icon-bars {
    margin-left: 5px;
  }

}

.banner-bg {
  min-height: 530px;
  background: url("../images/gohealthy_banner_azul.png") 50% 50% no-repeat;
  background-size: cover;
  padding-top: 17px;
}

.hotel-page-bg {
  /*background: url("../images/bg-blue-wave.png");*/
  background-color: #88235f;
}

.hotel-content-container  {

  padding-bottom: 40px;

  .box-content {
    margin-top: -300px;
    background: #FFF;
  }

  h1 {
    color: #235f88; /* #24678F; */
    font-size: 28px;

  }

  h2 {
    color: #88235f;  /* #24678F; */
  }

  h3 {
    color: #235f88; /* #24678F; */
    font-size: 18px;
  }

  p {
    color: grey;
  }

  .box-info {
    margin-top: 20px;
    line-height: 2;
    font-size: 16px;
    font-weight: 400;
    > li > span {
      color: #235f88; /* #47a09d; */
    }
  }
}

/*HOTEL PRESENTATION PAGE END*/

