
.banner-bg {
  min-height: 200px;
  background: url("../images/banners/gohealthy_banner_azul.png") 50% 50% no-repeat;
  background-size: cover;
}
.navigation {
  background: transparent;
  border: none;
}