
.hotel-room-box {
  padding: 0 15px 20px 15px;
  font-weight: 500;

  p {
    margin: 0;
  }


  h4 {
    font-size: 23px;
    margin: 0;
    color: @hotel-room-title;
  }

  .price-box {
    padding-bottom: 15px;
    @media(max-width: 1200px) {
      padding-bottom: 0;
    }
  }

  span.price {
    font-size: 20px;
    color: @price-text;
    @media(max-width: 1200px) {
     font-size: 18px;
    }

  }

  span.for-night, p.upgrade {
    font-size: 13px;
    color: @grey;
  }

  .plus-sign-box {
    padding-left: 32px;
  }

  .text-description {
    color: @grey-darker;
    font-weight: 300;
  }

  p.price-optional {
    font-size: 17px;
    color: @deep-brown;
  }

  p.optional {
    font-size: 11px;
    color: @light-grey;
  }

  .disponible-box {
    font-size: 13px;
    font-weight: 300;
    color: @deep-grey;


    span.disponible {
      color: @light-green;
    }
    .icon-file {
      margin-right: 5px;
    }

    .icon-check {
      margin-right: 2px;
      margin-left: 5px;
      color: @icon-check-color;
      font-size: 16px;
    }
  }

  .btn-reservar {
    font-size: 16px;
    background-color: @btn-reservar-bg;
    border-color: @btn-reservar-border-color;
    color: @btn-reservar-color;
    @media(max-width: 1200px) {
      font-size: 14px;
    }
  }

}


.image-room-box {
  padding-left: 15px;
  padding-right: 0;
}