@import "colors";
@import "fonts";
@import "thumbnails";
@import "footer";

.gutter-0 {
  padding-left: 0;
  padding-right: 0;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.margin-top-20 {
  margin-top: 20px;
}

.box-logo {
  position: absolute;
  top: 17px;

  z-index: 1;
  padding: 12px;

  .logo {
    height: 80px;
  }

  @media (max-width: 568px) {
    margin-left: 30px;
    left: 0;

  }


}

.slogan {
  font-size: 36px;
  font-weight: bold;

  color: @slogan-color;
}


.carousel-inner {
  color: #24678F;
}

.carousel-control.control-left, .carousel-control.control-right{
  visibility: hidden;
}


.carousel-control.control-left, .carousel-control.control-right{
  background-image: none;
}

.bg-women-1 {
  min-height: 530px;
  background: url("../images/carouselslide/women1.jpg") 50% 85% no-repeat;
  background-size: cover;
}

.bg-surfing-3 {
  min-height: 530px;
  background: url("../images/carouselslide/surfing3.jpg") 50% 80% no-repeat;
  background-size: cover;
}

.bg-surfing-5 {
  min-height: 530px;
  background: url("../images/carouselslide/surfing5.jpg") 50% 50% no-repeat;
  background-size: cover;
}

.bg-woman {
  min-height: 530px;
  background: url("../images/carouselslide/woman.jpg") 50% 40% no-repeat;
  background-size: cover;
}

.bg-cafe-beach {
  min-height: 530px;
  background: url("../images/carouselslide/cafe_beach.jpg") 50% 70% no-repeat;
  background-size: cover;
}


.box-description {

  min-height: 220px;
  width: 430px;

  @media (max-width: 480px) {
    width: 300px;

  }

  &.slide-1 {

    margin-top: 150px;

  }

  &.slide-2 {

    float: right;
    margin-top: 150px;

  }

  &.slide-3 {

    float: right;
    margin-top: 150px;

  }

  &.slide-4 {

    float: right;
    margin-top: 150px;

  }

  &.slide-5 {

    float: right;
    margin-top: 150px;

  }


  h3 {
    font-size: 28px;
    font-weight: normal;
    line-height: 44px;
    &.vacations {
      font-size: 38px;
      font-weight: normal;
    }
  }

  > p {
    font-size: 24px;
    color: #24678F;
  }

  button.btn.btn-default {

    position: absolute;
    top: 190px;
    right: 15px;

    font-weight: bold;
    letter-spacing: 1px;

    background-color: @btn-book-now-bg;
    border-color: @btn-book-now-bg;

    color: @btn-book-now-text;

    &:hover {
      background-color: @btn-book-now-hover-bg;
      border-color: @btn-book-now-hover-bg;

      color: @btn-book-now-hover-text;
    }
  }

}

.box-color-media-transparent {
  @media (max-width: 568px) {
    background: transparent;
  }
}

.box-white-color-bg {
  background: rgba(255, 255, 255, 0.8);
}

.box-wood-color-bg {
  background: rgba(74, 44, 22, 0.6);
  .box-color-media-transparent;
}