.gutter-0 {
  padding-left: 0;
  padding-right: 0;
}

.carousel-control.control-left, .carousel-control.control-right{
  visibility: hidden;
}


.carousel-control.control-left, .carousel-control.control-right{
  background-image: none;
}


.bg-women-1 {
  min-height: 408px;
  background: url(../images/carouselslide/women1.jpg) 50% 100% no-repeat;
  background-size: cover;
}

.bg-surfing-3 {
  min-height: 408px;
  background: url(../images/carouselslide/surfing3.jpg) 50% 70% no-repeat;
  background-size: cover;
}

.bg-surfing-5 {
  min-height: 408px;
  background: url(../images/carouselslide/surfing5.jpg) 50% 50% no-repeat;
  background-size: cover;
}

.bg-woman {
  min-height: 408px;
  background: url(../images/carouselslide/woman.jpg) 50% 70% no-repeat;
  background-size: cover;
}

.bg-cafe-beach {
  min-height: 408px;
  background: url(../images/carouselslide/cafe_beach.jpg) 50% 70% no-repeat;
  background-size: cover;
}

.box-description {
  background: rgba(135, 206, 250, 0.44);
  min-height: 408px;
}

.footer-nav {
  > li > a {
    border-left: 1px solid grey;
    padding-left: 5px;
  }
}
