@import "colors";
@import "fonts";
@import "thumbnails";
@import "hotel_rooms";
@import "what_included";
@import "footer";

.gutter-0 {
  padding-left: 0;
  padding-right: 0;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.margin-top-20 {
  margin-top: 20px;
}

.box-logo {
  position: absolute;
  top: 17px;

  z-index: 1;
  padding: 12px;

  .logo {
    height: 80px;
  }

  @media (max-width: 568px) {
    margin-left: 30px;
    left: 0;

  }


}

.slogan {
  font-size: 36px;
  font-weight: bold;

  color: @slogan-color;
}


.carousel-inner {
  color: #24678F;
}

.carousel-control.control-left, .carousel-control.control-right{
  visibility: hidden;
}


.carousel-control.control-left, .carousel-control.control-right{
  background-image: none;
}

.bg-women-1 {
  min-height: 530px;
  background: url("../images/carouselslide/women1.jpg") 50% 85% no-repeat;
  background-size: cover;
  @media (max-width: 768px) {
    min-height: 720px;

  }
}

.bg-surfing-3 {
  min-height: 530px;
  background: url("../images/carouselslide/surfing3.jpg") 50% 80% no-repeat;
  background-size: cover;
  @media (max-width: 768px) {
    min-height: 720px;

  }
}

.bg-surfing-5 {
  min-height: 530px;
  background: url("../images/carouselslide/surfing5.jpg") 50% 50% no-repeat;
  background-size: cover;
  @media (max-width: 768px) {
    min-height: 720px;

  }
}

.bg-woman {
  min-height: 530px;
  background: url("../images/carouselslide/woman.jpg") 50% 40% no-repeat;
  background-size: cover;
  @media (max-width: 768px) {
    min-height: 720px;

  }
}

.bg-cafe-beach {
  min-height: 530px;
  background: url("../images/carouselslide/cafe_beach.jpg") 50% 70% no-repeat;
  background-size: cover;
  @media (max-width: 768px) {
    min-height: 720px;

  }
}


.box-description {

  padding: 30px;


  &.slide-1, &.slide-2, &.slide-3, &.slide-4, &.slide-5 {

    h3 {
      font-size: 38px;
      font-weight: normal;
    }

    > p {
      font-size: 22px;
      color: #24678F;
      margin: 0;
    }

    button.btn.btn-default {

      position: absolute;
      right: 15px;
      bottom: -20px;

      font-weight: bold;
      letter-spacing: 1px;

      background-color: @btn-book-now-bg;
      border-color: @btn-book-now-bg;

      color: @btn-book-now-text;

      &:hover {
        background-color: @btn-book-now-hover-bg;
        border-color: @btn-book-now-hover-bg;

        color: @btn-book-now-hover-text;
      }
    }

  }

  &.slide-1 {

    margin-top: 190px;
    min-height: 210px;
    width: 430px;

    @media (max-width: 480px) {
      min-height: 290px;
      width: 300px;

    }

    h3 {

      margin-top: 0;
      margin-bottom: 10px;
    }

  }


  &.slide-2, &.slide-3, &.slide-4, &.slide-5 {
    float: right;
    margin-top: 190px;
    min-height: 210px;
    width: 600px;

    h3 {

      margin-top: 0;
      margin-bottom: 10px;
    }

    @media (max-width: 768px) {
      float: left;

    }

    @media (min-width: 601px) and (max-width: 768px){
      width: 580px;

    }

    @media (min-width: 569px) and (max-width: 600px){
      width: 550px;

    }

    @media (min-width: 481px) and (max-width: 568px){
      width: 460px;

    }

    @media (max-width: 480px) {
      min-height: 420px;
      width: 300px;
    }

  }


}

.box-color-media-transparent {
  @media (max-width: 568px) {
    background: transparent;
  }
}

.box-white-color-bg {
  background: rgba(255, 255, 255, 0.8);
}

.box-wood-color-bg {
  background: rgba(74, 44, 22, 0.6);
  .box-color-media-transparent;
}

