
.thumbnail.thumbnail-box {
  padding: 0;
  border: none;
  &.thumbnail-bordered {
    border: 1px solid @thumb-border-color;
    border-radius: 0;
    padding: 0 15px 15px 15px;
    & .caption {
      font-size: 14px;
    }

    h3 {
      font-size: 14px;
    }
  }
}
.thumbnail.thumbnail-box .caption {
  color: #395181;
  font-size: 15px;
  border-color:  @thumb-border-color;
  padding: 0;

  h3 {
    font-weight: 500;
  }

  A {
    color: @thumbnail-a-color;
    &:hover {
      color: saturate(@thumbnail-a-color, 30%);
    }

    text-decoration: underline;
  }

}