
.thumbnail.thumbnail-box {
  padding: 0;
  border: none;
}
.thumbnail.thumbnail-box .caption {
  color: #395181;
  border-color:  @thumb-border-color;
  padding: 0;

  h3 {
    font-weight: 500;
  }

  A {
    color: @thumbnail-a-color;
    &:hover {
      color: saturate(@thumbnail-a-color, 30%);
    }

    text-decoration: underline;
  }

}