.box-blue-color-bg {
  background: #24678F;
}

.box-what-included {
  color: #FFF;
  padding: 20px 15px 20px 15px;
  margin-bottom: 20px;

  @media (max-width: 992px) {
    padding: 20px 55px 20px 55px;
  }

  h5 {
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 1px;
  }

  p {
    font-size: 14px;
  }

  a {
    color: #FFF;
    font-size: 14px;
    font-weight: bold;
  }


  a.link-place-name {
    color: #4991bc;
    font-weight: 400;
    text-decoration: underline;
    &:hover {
      color: #2cded8;
      text-decoration: none;
    }
  }

  .icon-chevron {
    font-size: 12px;
  }

}

.block-right-border {
  border-right: 1px solid #457a9b;
  padding-left: 40px;
  padding-right: 40px;
  @media (max-width: 992px) {

    padding: 0;

    border-right: none;
    border-bottom: 1px solid #457a9b;
    &.no-border-bottom {
      border-bottom: none;
    }

  }

}


