doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        // The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
        title Travel site
        link(href="https://fonts.googleapis.com/css?family=Roboto:400,500", rel='stylesheet' type='text/css')
        link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", rel="stylesheet")
        //// Bootstrap
        //link(href='../bower_components/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
        // HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
        // WARNING: Respond.js doesn't work if you view the page via file://
        //if lt IE 9
          script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
          script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')

        link(href="css/main.css", rel='stylesheet')
    body
        .container-fluid

            header
                .row
                    .col-md-12.gutter-0.margin-bottom-20

                        .row
                            .col-md-4.box-logo
                                img(src="images/gohealthy-logo.png").logo
                        #carousel-content.carousel.slide(data-ride='carousel')
                            // Indicators
                            ol.carousel-indicators
                                li.active(data-target='#carousel-content', data-slide-to='0')
                                li(data-target='#carousel-content', data-slide-to='1')
                                li(data-target='#carousel-content', data-slide-to='2')
                                li(data-target='#carousel-content', data-slide-to='3')
                                li(data-target='#carousel-content', data-slide-to='4')
                            // Wrapper for slides
                            .carousel-inner(role='listbox')
                                .item.active
                                    .col-md-12.bg-women-1
                                        .container
                                            .row
                                                .col-md-4.box-description.box-white-color-bg.slide-1
                                                    h3.vacations Healthy vacations last forever!

                                                    p All vacation packages feature healthy lifestyles.

                                                    p
                                                        button.btn.btn-default.btn-lg.pull-right(type="button") BOOK NOW


                                .item
                                    .col-md-12.bg-surfing-3
                                        .container
                                            .row
                                                .col-md-4.box-description.box-white-color-bg.slide-2

                                                        h3 Healthy Lifestyle Vacations Are:
                                                            br
                                                            |Enjoyable and Nurturing

                                                        p Enjoy deluxe suites, nutritious meals, yoga, bodywork rituals, and more!
                                                        p
                                                            button.btn.btn-default.btn-lg.pull-right(type="button") BOOK NOW


                                .item
                                    .col-md-12.bg-surfing-5
                                        .container
                                            .row
                                                .col-md-4.box-description.box-white-color-bg.slide-3
                                                    h3 Healthy Lifestyle Vacations Are:
                                                        br
                                                        |Enjoyable and Nurturing

                                                    p Enjoy deluxe suites, nutritious meals, yoga, bodywork rituals, and more!
                                                    p
                                                        button.btn.btn-default.btn-lg.pull-right(type="button") BOOK NOW

                                .item
                                    .col-md-12.bg-woman
                                        .container
                                            .row
                                                .col-md-4.box-description.box-white-color-bg.slide-4
                                                    h3 Healthy Lifestyle Vacations Are:
                                                        br
                                                        |Educational and Fun

                                                    p Discover the advanced Mayan culture and its purification rituals.
                                                    p
                                                        button.btn.btn-default.btn-lg.pull-right(type="button") BOOK NOW

                                .item
                                    .col-md-12.bg-cafe-beach
                                        .container
                                            .row
                                                .col-md-4.box-description.box-white-color-bg.slide-5
                                                    h3 Healthy Lifestyle Vacations Are:
                                                        br
                                                        |Relevant and Cross-Generation

                                                    p Experience activities for all ages and a healthy vacation for the whole family.
                                                    p
                                                        button.btn.btn-default.btn-lg.pull-right(type="button") BOOK NOW

                            // Controls
                            a.left.carousel-control.control-left(href='#carousel-content', role='button', data-slide='prev')
                               span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
                               span.sr-only Previous
                            a.right.carousel-control.control-right(href='#carousel-content', role='button', data-slide='next')
                               span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
                               span.sr-only Next




            section#main_content
                .container
                    .row
                        .col-md-4
                            .thumbnail.thumbnail-box
                                img.img-responsive(src="images/women3.jpg", alt="")
                                .caption
                                    h3 Section title
                                    p Sample text for related section talks briefly about the benefits of the activities so clientes know why it is bundled into the vacations package by default.
                                        |Other such sections will be add-ons to the vacations, for example golf.
                                    p Your vacations includes [this]. Choose among our various participating hotels. | Explore and start&nbsp
                                        a(href="#") booking now
                                        |.

                        .col-md-4
                            .thumbnail.thumbnail-box
                                img.img-responsive(src="images/meditation.jpg", alt="")
                                .caption
                                    h3 Section title
                                    p Sample text for related section talks briefly about the benefits of the activities so clientes know why it is bundled into the vacations package by default.
                                        | Other such sections will be add-ons to the vacations, for example golf.
                                    p Your vacations includes [this]. Choose among our various participating hotels. | Explore and start&nbsp
                                        a(href="#") booking now
                                        | .

                        .col-md-4
                            .thumbnail.thumbnail-box
                                img.img-responsive(src="images/women2.jpg", alt="")
                                .caption
                                    h3 Section title
                                    p Sample text for related section talks briefly about the benefits of the activities so clientes know why it is bundled into the vacations package by default.
                                        | Other such sections will be add-ons to the vacations, for example golf.
                                    p Your vacations includes [this]. Choose among our various participating hotels. | Explore and start&nbsp
                                        a(href="#") booking now
                                        | .

                    .row
                        .col-md-4
                            .thumbnail.thumbnail-box
                                img.img-responsive(src="images/salad.jpg", alt="")
                                .caption
                                    h3 Section title
                                    p Sample text for related section talks briefly about the benefits of the activities so clientes know why it is bundled into the vacations package by default.
                                        | Other such sections will be add-ons to the vacations, for example golf.
                                    p Your vacations includes [this]. Choose among our various participating hotels. | Explore and start&nbsp
                                        a(href="#") booking now
                                        | .

                        .col-md-8
                            img.img-responsive(src="images/surfing1.jpg", alt="")

                    .row
                        .col-md-12.margin-bottom-20
                            |Page note if applicable.
                            |Homepage note: The pictures on this website are spontaneous, not staged. We believe in the power of authenticity that a healthy lifestyle can bring. Special thanks to those who allow us to use their personal pictures to achieve this goal.
                            |Always remember, "healthy vacations last forever!”.


            .row
                footer
                    .row
                        .col-md-3.footer-text-box Go Healthy Travel.&nbsp
                            span.welness Wellness Tourism&nbsp
                            |by Cape May Global Partners.

                        .col-md-8

                            ul.list-unstyled.list-inline.footer-nav
                                li
                                    a(href="#") Bookings

                                li
                                    a(href="#") Privacy

                                li
                                    a(href="#") Terms

        script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")
